@import url("https://fonts.googleapis.com/css?family=Quicksand");
@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Quicksand")
  }

body {
    font-family: "Quicksand";
    background-color:#e5e9ea;
}
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
.nearby{
    font-size: 110px;
    padding: 74px 110px;
    margin: 0;
    float: left;
}
.refreshBtn{
    padding-top: 80px;
    padding-right: 106px;
    float: right;
}
.postContainer {
    display: flex;
    padding-bottom: 40px;
}
.post{
    background-image: linear-gradient(to left, #fdb9ba, #f28e9e 50%);
    border-radius: 80px;
    height: 225px;
    width: 868px;
    margin: auto;
    outline: 0;
    display: flex;
}
.icon{
    padding-left: 38px;
}
.post:hover {
    background-position: right center; /* change the direction of the change here */
}

.feed{
    overflow-y: scroll;
    height: 1000px;
    width: 966px;
    background: white;
    border-radius: 80px;
    margin: auto;
}
.mainApp{
    height: 1260px;
    width: 966px;
    background: white;
    border-radius: 80px;
    margin: auto;
}
.topBar{
    min-width:1080px;
    position: relative;
}
div.topBar>img{
    top: 0;
    right: 0;
}
.logo{
    padding-top: 136px;
    padding-bottom: 108px;
    display: flex;
}
div.logo>img{
    margin: auto;
}
.footer{
    padding-top: 50px;
    display: flex;
}
.imgContainer{
    margin: auto;
}
div.imgContainer>img{
    padding-left: 10px;
    padding-right: 10px;
}




.modal {
    font-size: 12px;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: 10px;
    top: 10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}
p.favor{
    color: white;
    font-size: 40px;
}

div.bottomStr>p{
    font-size: 30px;
}
.bottomStr{
    display: flex;
}