@import url("https://fonts.googleapis.com/css?family=Quicksand");
@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Quicksand")
  }

body {
    font-family: "Quicksand";
    background-color:#e5e9ea;
}
*{
    font-family: 'Quicksand', sans-serif;
}
.nearby{
    font-size: 110px;
    padding: 74px 110px;
    margin: 0;
}
.postContainer {
    display: flex;
    padding-bottom: 40px;
}
.post{
    background-image: linear-gradient(to right, #fdb9ba, #f28e9e 50%);
    border-radius: 80px;
    height: 225px;
    width: 868px;
    margin: auto;
    outline: 0;
}
.post:hover {
    background-position: right center; /* change the direction of the change here */
}

.feed{
    overflow-y: scroll;
    height: 1000px;
    width: 966px;
    background: white;
    border-radius: 80px;
    margin: auto;
}
.mainApp{
    height: 1260px;
    width: 966px;
    background: white;
    border-radius: 80px;
    margin: auto;
}
